<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preinscription a INSAm</title>
    <link rel="stylesheet" href="/accueil.css">
</head>
<body>
    <div class="main">
        <header class="" >
            <div class="navbar">
                <div class="icon">
                    <h2 class="logo">ISAm</h2>
                </div>
                <div class="menu">
                    <ul class="lites">
                        <li><a href="/">Accueil</a></li>
                        <li><a href="">Concours</a></li>
                        <li><a href="/preinscription">Preinscription</a></li>
                        <li><a href="/inscription">Inscription</a></li>
                        <li><a href="">Notes</a></li>
                        <li><a href="">Enroulement</a></li>
                </ul>
                </div>
                <div class="search">
                    <input class="srch" type="search" name="search" placeholder="Type to text">
                    <a href=""><button class="btn">Search</button></a>
                </div>
            </div>
        </header>

        <section class="youtube">

            <h1 class="trit">inscription</h1>

            <h2 class="caro">les inscriptions sont deja disponibles</h2>
            <p class="saler">
               <span>concernant les nouveaux etudiants</span></br>(ceux ayant efectuer une preinscription cette annee)
            </p></br></br>

            <p class="l9">
                Si vous avez été sélectionné, connectez vous avec votre<span>MATRICULE</span> comme identifiant et votre mot de passe habituel
                ( Si vous ne connaissez pas encore votre matricule, connectez-vous à votre ancien compte et regardez vos messages )
                Une fois connecté dans votre nouveau compte, allez à la rubrique <span>Mes paiements -> Droits universitaires</span> et télécharger vos quitus de paiement
            </p>

            <p class="saler">
                <span>concernant les anciens etudiants</span>
            </p>

            <p class="l9">
                Votre identifiant est votre matricule vous pourrez l'utiliser pour vous connecter</br>
                Pour pouvoir vous connecter, cliquer <a href="/login">Ici</a>
                Une fois connecté, allez à la rubrique Mes paiements -> Droits universitaires et télécharger vos quitus de paiement
            </p>
    </div>
        
</section>
</body>
</html>