<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preinscription a INSAm</title>
    <link rel="stylesheet" href="/accueil.css">
</head>
<body>
    <div class="main">
            <header class="" >
                <div class="navbar">
                    <div class="icon">
                        <h2 class="logo">ISAm</h2>
                    </div>
                    <div class="menu">
                        <ul class="lites">
                            <li><a href="/">Accueil</a></li>
                            <li><a href="">Concours</a></li>
                            <li><a href="/preinscription">Preinscription</a></li>
                            <li><a href="/inscription">Inscription</a></li>
                            <li><a href="">Notes</a></li>
                            <li><a href="">Enroulement</a></li>
                        </ul>
                    </div>
                    <div class="search">
                        <input class="srch" type="search" name="search" placeholder="Type to text">
                        <a href=""><button class="btn">Search</button></a>
                    </div>
                </div>
            </header>

            <section class="insta">
                <h1>Mon compte  <span class="minim">Institut specialisee des arts martiaux<span></h1>
                <div class="navbar">
                    <div class="menu">
                        <div class="lites">
                            <ul>
                                <li><a href="">Boite de Reception</a></li>
                                <li><a href="/inscription">Mon insciption</a></li>
                                <li><a href="/inscription">Mon Enrolement</a></li>
                                <li><a href="">Mes paiements</a>
                                    <a href="/mesdroits">
                                        <select name="paiements" id="">
                                            <option value="">Droits Univertaires</option>
                                        </select>
                                    </a>
                                </li>
                                <li><a href="">Mes Notes</a></li>
                                <li><a href="">Configuration</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
    </div>
</body>
</html>