


<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preinscription a INSAm</title>
    <link rel="stylesheet" href="/accueil.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">ISAm</h2>
            </div>
            <div class="menu">
                <ul class="lites">
                    <li><a href="/">Accueil</a></li>
                    <li><a href="">Concours</a></li>
                    <li><a href="/preinscription">Preinscription</a></li>
                    <li><a href="/inscription">Inscription</a></li>
                    <li><a href="">Notes</a></li>
                    <li><a href="">Enroulement</a></li>
               </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="search" placeholder="Type to text">
                <a href=""><button class="btn">Search</button></a>
            </div>
        </div>

        <div class="contents">
                <div class="formt">
                    <h2>Se Connecter</h2>
                    <input type="matricule" name="matricule" placeholder="Entrez votre Matricule ou Identifiant">
                    <input type="password" name="password" placeholder="Entrer votre Mot de Passe">
                    <button class="btnn"><a href="">Connexion</a></button>
                    
                    <p class="link">Pas de Compte ?</br>
                    <a href="">Creer un compte</a></p>
                    <p class="liw">hum hum</p>                   
                </div>
        </div>
    </div>
</body>
</html>