<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preinscription a INSAm</title>
    <link rel="stylesheet" href="/accueil.css">
<body>
    
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">ISAm</h2>
            </div>
            <div class="menu">
                <ul class="lites">
                    <li><a href="Accueil.html">Accueil</a></li>
                    <li><a href="">Concours</a></li>
                    <li><a href="preinscription.html">Preinscription</a></li>
                    <li><a href="inscription.html">Inscription</a></li>
                    <li><a href="">Notes</a></li>
                    <li><a href="">Enroulement</a></li>
               </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="search" placeholder="Type to text">
                <a href=""><button class="btn">Search</button></a>
            </div>
        </div>
    
    <section class="container">
        <div class="containers">
            <form class="forme">
                    <div class="forme1">

                        <h2>Identifiant</h2>

                        <label for="Lieu">Cycle</label>
                        <select name="Cycle" id="">
                            <option value="Licence">Licence</option>
                            <option value="Master">Master</option>
                            <option value="Doctorat">Doctorat</option>
                            <option value=""></option>
                            <option value="hdr">HDR</option>
                            <option value="bts">BTS</option>
                            <option value="certificat">Certificat</option>
                        </select></br></br>

                        <label for="formation">Type de Formation</label>
                        
                        <select name="type de formation" id="">
                            <option value="formation initiale">Formation Initiale</option>
                            <option value="Formation Professionnel">Formation Professionnel</option>
                        </select></br></br>    


                        <label  for="choix1">Premier Choix</label>
                        <select name="choix de formation " id="">
                            <option value="">*choisissez votre formation*</option>
                            <option value="EIP">Economie Indistruelle et Publique</option>
                            <option value="MOFI">Macroeconomique Ouverte et Finance Internationnal</option>
                            <option value="MA">Macroeconomique Appliquee</option>
                            <option value="PED">Politique Economique et Developpement</option>
                        </select></br></br>

                        <label for="Choix2">Deuxieme Choix</label>
                        <select name="Choix de formation" id="">
                            <option value="">*choisissez votre formation*</option>
                            <option value="EIP">Economie Indistruelle et Publique</option>
                            <option value="MOFI">Macroeconomique Ouverte et Finance Internationnal</option>
                            <option value="MA">Macroeconomique Appliquee</option>
                            <option value="PED">Politique Economique et Developpement</option>
                        </select></br></br>

                        <label for="diplome">Diplome D'admission</label>
                        <select name="diplome" id="">
                            <option value="bac">Baccalaurat</option>
                            <option value="bts">BTS</option>
                            <option value="dut">DUT</option>
                            <option value="GCE Advanced Level">GCE Advanced Level</option>
                            <option value="capacite">Capacite</option>
                            <option value="BT">BT</option>
                            <option value="autres">Autres</option>
                            <option value="bepc">BEPC/CAP</option>
                            <option value="probatoire">Probatoire</option>
                            <option value="dsep">D.S.E.P</option>
                            <option value="dts">DTS</option>
                            <option value="depa">DEPA</option>
                            <option value="depit1">DEPIT 1</option>
                            <option value="depit2">DEPIT 2</option>
                        </select></br></br>

                        <label for="serie">serie</label>
                        <select name="serie" id="">
                            <option value="a">A</option>
                            <option value="a">B</option>
                            <option value="c">C</option>
                            <option value="d">D</option>
                            <option value="e">E</option>
                            <option value="f">F</option>
                            <option value="g">G</option>
                            <option value="s">S</option>
                            <option value="ti">TI</option>
                            <option value="esf">ESF</option>
                            <option value="ih">IH</option>
                            <option value="autres">autres</option>
                        </select></br></br>

                
                        <label  for="annee d'optention">Annee D'obtention</label>
                        
                        <select name="Annee" id="">
                            <option value="2023">2023</option>
                            <option value="2022">2022</option>
                            <option value="2021">2021</option>
                            <option value="2020">2020</option>
                            <option value="2019">2019</option>
                            <option value="2018">2018</option>
                            <option value="2017">2017</option>
                            <option value="2016">2016</option>
                            <option value="2015">2015</option>
                            <option value="2014">2014</option>
                            <option value="2013">2013</option>
                            <option value="2012">2012</option>
                            <option value="2011">2011</option>
                            <option value="2010">2010</option>
                            <option value="2009">2009</option>
                            <option value="2008">2008</option>
                            <option value="2007">2007</option>
                            <option value="2006">2006</option>
                            <option value="2005">2005</option>
                            <option value="2004">2004</option>
                            <option value="2003">2003</option>
                            <option value="2002">2002</option>
                            <option value="2001">2001</option>
                            <option value="2000">2000</option>
                        </select></br></br>



                        <label for="postal">Pays D'obtention</label>
                        
                        <select name="serie" id="">
                            <option value="Cameroun">Cameroun</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Tchad">Tchad</option>
                            <option value="Republique Democratique du Congo">Republique Democratique du Congo</option>
                            <option value="Togo">Togo</option>
                            <option value="Guinee Equatorial">Guinee Equatorial</option>
                            <option value="g">Republique du Congo</option>
                            <option value="Republique Centrafricaine">Republique Centrafricaine</option>
                            <option value="Rwanda">Rwanda</option>
                            <option value="Senegal">Senegal</option>
                            <option value="autre">Autre</option>
                        </select></br></br>

                    <!--<select name="Mois">
                        <option value="Mois">mois</option>
                        <option value="janvier">janvier</option>
                        <option value="fevrier">fevrier</option>
                        <option value="Mars">mars</option>
                        <option value="Avril">avril</option>
                        <option value="Mai">mai</option>
                        <option value="Juin">Juin</option>
                        <option value="Juillet">juillet</option>
                        <option value="Aout">Aout</option>
                        <option value="Septembre">septembre</option>
                        <option value="Octobre">octobre</option>
                        <option value="Novembre">novembre</option>
                        <option value="Decembre">decembre</option>
                    </select>-->
                </div>
            

<!------------------------------------------------------------------------------------->


        
                    <label for="langue1ere">Etablisement D'obtention</label>
                    <input type="text" name="lieu" placeholder="Etablissement D'obtention"></br></br>


                    <label for="langue1ere">premiere langue parleee</label>
                    <select name="langue" id="">
                        <option value="Francais">Francais</option>
                        <option value="Anglais">Anglais</option>
                        <option value="Allemend">Allemend</option>
                        <option value="Espagnol">Espagnol</option>
                        <option value="Arabe">Arabe</option>
                        <option value="Chinois">Chinois</option>
                    </select></br></br>


                    <label for="langue2ieme">Deuxieme langue parlee</label>
                    <select name="langue" id="">
                        <option value="Francais">Anglais</option>
                        <option value="Anglais">Francais</option>
                        <option value="Allemend">Allemend</option>
                        <option value="Espagnol">Espagnol</option>
                        <option value="Arabe">Arabe</option>
                        <option value="Chinois">Chinois</option>
                    </select></br></br>


                    <label for="pays">Pays de nationnalite</label>
                    <select name="pays">
                        <option value="Autres">Autres</option>
                        <option value="Congo">Congo</option>
                        <option value="Gabon">Gabon</option>
                        <option value="Senegal">Senegal</option>
                        <option value="Tchad">Tchad</option>
                        <option value="Cote d'ivoire">Cote d'ivoire</option>
                        <option value="Cameroun">Cameroun</option>
                    </select>
                    </br>
                    </br>
                    </br>

                
                    <label for="Region">Region d'origine</label>
                    <select name="Region">
                        <option value="Littoral">Littoral</option>
                        <option value="Ouest">Ouest</option>
                        <option value="Est">Est</option>
                        <option value="Centre">Centre</option>
                        <option value="Extreme Nord">Extreme Nord</option>
                        <option value="Nord">Nord</option>
                        <option value="Sud">Sud</option>
                        
                        <option value="Adamaoua">Adamaoua</option>
                        <option value="Nord-ouest">Nord-Ouest</option>
                        <option value="Sud-Ouest">Sud-Ouest</option>
                        
                    </select>
                    </br>
                    </br>

                    <label for="Departement">Vile de residence</label>
                    <select name="Departement">
                        <option value="Autres">Autres</option>
                        <option value="Wouri">Wouri</option>
                        <option value="Nkam">Nkam</option>
                        <option value="Moungo">Moungo</option>
                        <option value="Sanaga-Maritime">Sanaga-Maritime</option>
                    </select></br></br>


                    
                        <label for="genre">Choisissez votre sexe</label></br>
                        <select name="sexe" id="">
                            <option value="Homme">Homme</option>
                            <option value="Femme">Femme</option>
                        </select>
                    
                    <div class="trainer">
                    <input class="roi" type="submit" value="Soumettre">
                    </div>
                </div>
            </form>
            <div class="ars">
                <a href="/inscription2"><button class="btnn">Suivant</button></a>
            </div>
        </div>
    </section>
</div>
</body>
</html>
</body>
</html>