<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preinscription a INSAm</title>
    <link rel="stylesheet" href="/accueil.css">
</head>
<body>
    <div class="mains">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">ISAm</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="Accueil.html">Accueil</a></li>
                    <li><a href="">Concours</a></li>
                    <li><a href="preinscription.html">Preinscription</a></li>
                    <li><a href="inscription.html">Inscription</a></li>
                    <li><a href="">Notes</a></li>
                    <li><a href="">Enroulement</a></li>
                </ul>
            </div>
            <div class="search">
                <input class="srch" type="search" name="" placeholder="Type to text">
                <a href=""><button class="btn">Search</button></a>
            </div>
        </div>
        <header>
            <h1>preinscription a: <span>facultes des sciences economiques et des gestions apliquees</span></h1>
        </header>
        <section class="container">
            <div class="containerss">
                <form class="formes">
                        <div class="forme1">

                            <h2>Identifiant</h2>

                            <label for="Lieu">Entrez votre Nom </label>
                            <input class="l4" type="text" name="lieu" placeholder="Entrez votre nom"></br></br>

                            <label for="date">Entrez ton prenom</label>
                            <input class="l4" type="text" name="day" placeholder="Entrez votre prenom"></br></br>

                            <label  for="email">Entrer votre email</label>
                            <input class="l3" type="text" name="email" placeholder="Entrer votre Email"></br></br>

                            <label for="date">Date de Naissance</label>
                            <input class="l4" type="text" name="day" placeholder="Date de Naissance"></br></br>

                            <label for="Lieu">Lieu de Naissance</label>
                            <input class="l4" type="text" name="lieu" placeholder="Lieu de Naissance"></br></br>

                            <label for="ville">Departement</label>
                            <input class="l4" type="text" name="ville" placeholder="Ville de residence"></br></br></br>

                    
                            <label  for="number">Numerode Telephone</label>
                            <input  class="l4" type="number" name="numero de telephone" placeholder="Numero de Telephone"></br></br></br>



                            <label for="postal">Boite Postal</label>
                            <input  class="l4" type="text" name="boite postal" placeholder="Boite Postal">

                        <!--<select name="Mois">
                            <option value="Mois">mois</option>
                            <option value="janvier">janvier</option>
                            <option value="fevrier">fevrier</option>
                            <option value="Mars">mars</option>
                            <option value="Avril">avril</option>
                            <option value="Mai">mai</option>
                            <option value="Juin">Juin</option>
                            <option value="Juillet">juillet</option>
                            <option value="Aout">Aout</option>
                            <option value="Septembre">septembre</option>
                            <option value="Octobre">octobre</option>
                            <option value="Novembre">novembre</option>
                            <option value="Decembre">decembre</option>
                        </select>-->
                    </div>
                

<!------------------------------------------------------------------------------------->


                    <div class="devp">
                        <h2 class="tite">Communication et contact</h2>

                        <label for="langue1ere">Premiere langue parlee</label>
                        <select name="langue" id="">
                            <option value="Anglais">Anglais</option>
                            <option value="Francais">Francais</option>
                            <option value="Allemend">Allemend</option>
                            <option value="Espagnol">Espanol</option>
                            <option value="Arabe">Arabe</option>
                            <option value="Chinois">Chinois</option>
                        </select></br></br>

                        <label for="langue2ieme">Deuxieme langue parlee</label>
                        <select name="langue" id="">
                            <option value="Francais">Francais</option>
                            <option value="Anglais">Anglais</option>
                            <option value="Allemend">Allemend</option>
                            <option value="Espagnol">Espagnol</option>
                            <option value="Arabe">Arabe</option>
                            <option value="Chinois">Chinois</option>
                        </select></br></br>


                        <label for="pays">Pays de nationnalite</label>
                        <select name="pays">
                            <option value="Autres">Autres</option>
                            <option value="Congo">Congo</option>
                            <option value="Gabon">Gabon</option>
                            <option value="Senegal">Senegal</option>
                            <option value="Tchad">Tchad</option>
                            <option value="Cote d'ivoire">Cote d'ivoire</option>
                            <option value="Cameroun">Cameroun</option>
                        </select>
                        </br>
                        </br>
                        </br>

                    
                        <label for="Region">Region d'origine</label>
                        <select name="Region">
                            <option value="Littoral">Littoral</option>
                            <option value="Ouest">Ouest</option>
                            <option value="Est">Est</option>
                            <option value="Centre">Centre</option>
                            <option value="Extreme Nord">Extreme Nord</option>
                            <option value="Nord">Nord</option>
                            <option value="Sud">Sud</option>
                            
                            <option value="Adamaoua">Adamaoua</option>
                            <option value="Nord-ouest">Nord-Ouest</option>
                            <option value="Sud-Ouest">Sud-Ouest</option>
                            
                        </select>
                        </br>
                        </br>

                        <label for="Departement">Departement</label>
                        <select name="Departement">
                            <option value="Autres">Autres</option>
                            <option value="Wouri">Wouri</option>
                            <option value="Nkam">Nkam</option>
                            <option value="Moungo">Moungo</option>
                            <option value="Sanaga-Maritime">Sanaga-Maritime</option>
                        </select></br></br>


                        
                            <label for="genre">Choisissez votre sexe</label></br>
                            <select name="sexe" id="">
                                <option value="Homme">Homme</option>
                                <option value="Femme">Femme</option>
                            </select>
                        
                        <div class="trainer">
                        <input class="roi" type="submit" value="Soumettre">
                        </div>
                    </div>
                </form>
                <a  class="art" href="/page3"><button class="btnn"> Page Suivante</button></a>
            </div>
        </section>
    </div>
</body>
</html>