<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>preinscription a INSAm</title>
    <link rel="stylesheet" href="/accueil.css">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">ISAm</h2>
            </div>
            <div class="menu">
                <ul>
                    <li><a href="Accueil.html">Accueil</a></li>
                    <li><a href="">Concours</a></li>
                    <li><a href="preinscription.html">Preinscription</a></li>
                    <li><a href="inscription.html">Inscription</a></li>
                    <li><a href="">Notes</a></li>
                    <li><a href="">Enroulement</a></li>
                </ul>
            </div>
            <div class="search">
            <input class="srch" type="search" name="" placeholder="Type to text">
            <a href=""><button class="btn">Search</button></a>
            </div>
        </div>

        <h1>preinscription a: <span>facultes des sciences economiques et des gestions apliquees</span></h1>
        <section class="container">
            <div class="tik">
                <p>condition generale d'utilisation</p>
            </div>

            <div class="listing">
                <p>Vous vous inscrivez pour la première fois à l'<span>institut specialisees des Arts martiaux</span>.Si vous êtes passé par la procédure Admission Post-Bac ou </br>bien si vous avez été admis dans une formation à accès sélectif suite à une procédure de pré-candidature, </br>vous pourrez vous inscrire intégralement en ligne après avoir validé les conditions générales d'utilisation du site.
                </br> </br>Pour les anciens étudiants: Veillez saisir Votre Matricule en allant sur Inscription</br> et connectez vous en inserant votre mot de passe
                </p>
            </div>

            <div class="listeng">
                <p>
                    La loi No.78-17 du 6.1.78 relative à l'informatique, </br>aux fichiers et aux libertés s'applique au présent service web :</br>Elle vous donne droit d'accès et de rectification pour des données vous concernant. </br>Cette requête doit être adressée au Président de l'Université.N.B. </br>L'inscription peut être annulée et les droits de scolarité remboursés si </br>une demande écrite, précisant les raisons du désistement, est faite </br>avant le début des cours.L'avis No. 025357 du 23.12.2002 de </br>la CNIL autorise l'Université à numériser des pièces justificatives fournies par </br>les étudiants lors de l'inscription (à l'exclusion de la photo), à des fins d'archivage.
                </p>
                <label for="validation">
                    J'ai lu et j'accepte les conditions d'utilisation 
                </label>
                <input id="validation" type="checkbox" name="validation" checked="checked">
            </div>

            <a href="/page2"><button class="bout">suivant</button></a>
        </section>
    </div>
</body>
</html>